<h1>CREAR USUARIO</h1>
<br>
<form action="/Saludo/crearUsuarioQuemado" method="post">
  <div class="form-group row">
    <label for="nombres" class="col-2 col-form-label">Nombres</label>
    <div class="col-10">
      <input class="form-control" type="text" placeholder="Ingrese sus nombres" id="nombres" name="nombres">
    </div>
  </div>
  <div class="form-group row">
    <label for="apellidos" class="col-2 col-form-label">Apellidos</label>
    <div class="col-10">
      <input class="form-control" type="text" placeholder="Ingrese sus apellidos" id="apellidos" name="apellidos">
    </div>
  </div>
  <div class="form-group row">
    <label for="correo" class="col-2 col-form-label">Correo</label>
    <div class="col-10">
      <input class="form-control" type="email" placeholder="Ingrese su correo" id="correo" name="correo">
    </div>
  </div>
  <div class="form-group row">
    <label for="fechaNacimiento" class="col-2 col-form-label">Fecha de Nacimiento</label>
    <div class="col-10">
      <input class="form-control" type="date" placeholder="Ingrese su fecha de nacimiento" id="fechaNacimiento" name="fechaNacimiento">
    </div>
  </div>
  <div class="form-group row">
    <label for="password" class="col-2 col-form-label">Password</label>
    <div class="col-10">
      <input class="form-control" type="password" placeholder="Ingrese su password" id="password" name="password">
    </div>
  </div>
  <div class="form-group row">
    <button type="button" class="btn btn-outline-secondary">Button</button>
    <button type="submit" class="btn btn-outline-success">Crear</button>
    <button type="reset" class="btn btn-outline-warning">Reset</button>
  </div>
</form>
